.contact-social-links{
    padding: 2rem 6rem;
    color: #fff;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
}
.contact-social-links  *{
    z-index: 100;
}
.contact-social-links .shade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.4); */
    background-color: rgba(45, 120, 78, 0.6);
    z-index: 0;
}
.contact-social-links .links-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.contact-social-links .links-container .social-links{
    display: flex;
    flex-flow: column;
    gap: 3rem;

}
.contact-social-links .links-container .social-links div{
    opacity: 0;
    transform: translateX(-10rem);
}
.contact-social-links .links-container .social-links.visible div{
    transition: all 0.5s ease;
    opacity: 1;
    transform: translateX(0);
}
.contact-social-links .links-container .social-links.visible div:nth-child(2){
    transition-delay: 0.2s;
}
.contact-social-links .links-container .social-links.visible div:nth-child(3){
    transition-delay: 0.4s;
}
.contact-social-links .links-container svg{
    fill: #fff;
    width: 80px;
    height: 80px;
}
.contact-social-links .email-container{
    z-index: 5;
    text-align: center;
    transform: translateX(8rem);
    opacity: 0;
}
.contact-social-links .email-container.visible{
    transform: translateX(0rem);
    opacity: 1;
    transition: all 0.5s ease;

}
.contact-social-links .email-container svg{
    fill: #fff;
    margin-bottom: 1.5rem;
    width: 90px;
    height: 90px;
}
.contact-social-links .email-container h2{
    margin-bottom: 1.5rem;
}
.contact-social-links .email-container a{
    font-size: 1.5rem;
    color: #fff;
}

@media(max-width:1000px){
    .contact-social-links{
        padding: 2rem 4rem;
    }
    .contact-social-links .email-container h2{
        font-size: 1.2rem;
    }
}
@media(max-width:800px){
    .contact-social-links .email-container{
        width: 60%;
    }
    .contact-social-links .links-container{
        justify-content: space-between;
    }
}
@media(max-width:550px){
    .contact-social-links .email-container svg{
        width: 50px;
        height: 50px;
    }
    .contact-social-links .links-container svg{
        width: 45px;
        height: 45px;
    }
    .contact-social-links .email-container h2{
        font-size: 1rem;
    }
    .contact-social-links .email-container a{
        font-size: 1rem;
    }
}
@media(max-width:450px){
    .contact-social-links{
        padding: 2rem 1rem;
    }
    .contact-social-links .links-container{
        flex-flow: column-reverse;
        gap: 2rem;
    }
    .contact-social-links .email-container{
        width: 100%;
    }
}